* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body  
{  

    background-image: url(bbackground.jpg);
    background-repeat: no-repeat; 
    background-size: 220vh;
    font-family: cursive;
    margin-top: 150px; 
     
}  
.login{  
        width: 240px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #ffffff;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #000000;  
    padding: 20px;  
}  
label{  
    color: #000000;  
    font-size: 17px; 
    font-family: cursive; 
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: 2px solid black;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: 2px solid black;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 20px solid black;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);  
  
  
}  
span{  
    color: rgb(0, 0, 0);  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  