body{
    font-family: sans-serif;
    margin: 0px;
    color:rgb(255, 255, 255);
    }
    
    .myDiv1{

    width:100%;;
    height:970px;
    background-color:black;
    }
    
    .myDiv2{
    
     width:100%;
     height:970px;
    background-color: yellow;
    
    }
    
    
    .myDiv3{
     
    width:100%;
    height:970px;
    background-color:red;
    } 

    .myDiv4{
    display:flex;    
    }