body {

    font-family: sans-serif;
    display:flex;
    flex-direction: column;
     background-color: white
}

.box {

background-color: rgba(255, 255, 255, 0.979);
width: 400px;
height: 450px;
display:flex;
flex-direction: column;
margin: auto auto;
margin-top: 100px;
border-radius: 9px;
border: solid rgb(180, 180, 180) 1px;
}

.Användarnamn {


}

.Lösenord {


}


h1 {

font-size: 40px;
margin-left: 40px;
font-family: 'Roboto', sans-serif;

}

label, input {

display: table-cell;
margin: 4px;
padding: 10px;
margin-left: 35px;
margin-right: 40px;
border-radius: 5px;

}



.glömt {

margin-bottom: 25px;
margin-left: 45px;
text-align: left;
color: #774bef;
}

.sk {

text-align: left;
margin-left: 45px;
color: #774bef;

}

.Button {

border-radius: 10px;
border: 1px solid;
background-color: #774BEF;
width: 30%;
height: 30px;
padding-top: 20px;
padding-bottom: 20px;
color: white;
text-align: center;
margin-left: 65%;
font-size: 20px;


}

a:hover {

    background-color: #A372FF;
    color:white;
}

.Lfö {

display: none;
text-align: center;
font-family: 'Roboto Slab', serif;

}

.lfö2 {


 text-align: center;
font-family: 'Roboto Slab', serif;
margin-top: 40px; 
}

@media screen and (max-width: 900px) {
    .box { width: 320px;
        background-color: white;
        
    }

    .lfö2 {
            display: none;

    }

    .Lfö {
            display: unset;
    }
}
